<html>

<head>
  <meta charset='utf-8' />
  <title>Registration link to HeadHunter App</title>
  <style>
    p {
      size: 40px;
    }

    a {
      text-decoration: none;
      color: #0077b6;
    }
  </style>
</head>

<body>
  <h1>Zaproszenie do rejestracji</h1>
  <p>By przejść do rejestracji konta, proszę kliknąć link poniżej:</p>
  <a href={{url}}>Link aktywacyjny</a>
  <p>Jeżeli nie rozpoznajesz tego maila, możesz go bezpiecznie zignorować.</p>
</body>

</html>